<p id="notice"><%= notice %></p>
<p id="notice"><%= notice %></p>


<div class = 'show_company'>

<h2 class = 'company_title' align = 'center'><!%= @company.title %></h2>

  
<hr>
<h3 align = 'center'>We have: <br><!%= @company.current_sum %>$/<!%= @company.goal %>$</h3> 
 <br><br>

<div class = 'discription'>
  
  <!%= @company.discription %>
</div>