<!DOCTYPE html>
<html>

<head>
<%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
</head>

<body class = 'profile_page_body'>

<% if user_signed_in?%>


  <% else %>
    <h1>
    You must be logged in to view profile page.<br>
    <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
    </h1> 
  <br>
     

<%end%>
</body>

</html>