<p id="notice"><%= notice %></p>

<br>
<br>
<br>
<h1 align = 'center'><%= t('companies.index.title')%></h1>

<br>
<br>

<% @companies.each do |company| %>



<div class = 'company_index'>


<div class = 'company_title'><%=  company.title%></div>

<div class = 'summary'>
<p><%= company.short_discription %></p>
</div>

</div>
<% end %>
      



  



