<center>
<% if user_signed_in? %>
  
<h1><%=  t('companies.new.title')  %></h1>

<%= render 'form', company: @company %>

<%= link_to t('common.back'), companies_path %>

  <% else %>
    <h1>
    You must be logged in to view this page.<br>
    <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
    </h1> 
<% end %>
</center>