

.company_index {
    width: 90%;
    margin: 0 auto;
    
}
.company_title{
    text-align: center;
    margin: 0 auto;
    margin-bottom: 3vh;
    width: 100%;

}
.summary{
    background-color: gray;
    width: 100%;
    float: left;
    margin-bottom: 5vh;
     
}
.summary p{
    padding-top: 3%;
    padding-bottom: 3%; 
    text-align: center;
    width: 90%;
    margin: 0 auto;
    word-wrap: break-word;
}