// Place all the styles related to the Companies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.show_company{
    width: 80%;
    align-content: center;
    margin: 0 auto;
}

.discription {
    background-color: #c7c3c3;
    min-height: 0vh;
    width: 90%;
    word-wrap: break-word;
    margin: 0 auto;
}
.company_title {
    
}
