// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

  
.title {
   margin-left: 5vh;
   margin-top: -3vh;
   margin-right: 5vh;  
   font-size: 3vh;
}
.header_but {
    width: 30vh;
    height: 6vh;
    margin-left: 65vh;
    margin-top: 1vh; 
}

.companies_at_home { 
    display: flex;
    margin: 0 auto;
    width: 90%;
}

.top_rating {
    margin: 0 auto;
    background-color: aqua;
    width: 45%;
}
.last_10_updated_companies{
    
    width: 45%;
    margin-left: 10%;
}
