#wrap {
    background-color: gray;
    width: 90%;
    
}

.profile_page {
    background-color: aqua;
    margin-left: 10vh;
    min-height: 90vh;
    width: 50vh;
    float: left;
}

.companies {
    background-color:red;
    height: 30vh;
    width: 60%;
    float: left;
    margin-left: 2%;
}