.profile_body {
    background-color: gray;
    display: flex;
    width: 90%;
    margin: 0 auto;
}
.profile_page {
    background-color: red;
    min-height: 10%;
    width: 25%;
    float: left;
}
.companies{
    width: 60%;
    margin-left: 15%; 
    float: right;
    background-color: green;
}